APP_HOST=0.0.0.0
APP_PORT=8000

DATABASE_URL=postgresql+asyncpg://chat:chat@postgres:5432/chat
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

MQ_EXCHANGE=chat.events
MQ_QUEUE_INCOMING=chat.messages.incoming
MQ_QUEUE_PERSISTED=chat.messages.persisted
MQ_ROUTING_KEY_CREATED=chat.message.created
MQ_ROUTING_KEY_PERSISTED=chat.message.persisted

MQ_QUEUE_REACTIONS_INCOMING=chat.reactions.incoming
MQ_QUEUE_REACTIONS_PERSISTED=chat.reactions.persisted
MQ_ROUTING_KEY_REACTION_CREATED=chat.reaction.created
MQ_ROUTING_KEY_REACTION_PERSISTED=chat.reaction.persisted